---
import Layout from "$/layouts/Layout.astro";
import TestCapsule from "$/components/capsules/TestCapsule/TestCapsule.svelte";
---

<Layout>
    <main class="mx-auto max-w-4xl space-y-6 p-6">
        <TestCapsule instanceId="test-capsule-01" client:load />
        <TestCapsule instanceId="test-capsule-02" client:load />
    </main>
</Layout>
