---
import { supabase } from '../db/supabase';

const { data, error } = await supabase.from("user_profiles").select('*');
console.log(data);
---

{
  (
    <ul>
      {data?.map((entry) => (
        <li>{entry.name}</li>
      ))}
    </ul>
  )
}