---
import Layout from "$/layouts/Layout.astro";
import UserProfilesList from "$lib/UserProfilesList.svelte";
---

<Layout>
	<main class="mx-auto max-w-lg p-6">
		<h1 class="mb-4 text-xl font-semibold">Profiles</h1>
		<UserProfilesList client:load />
	</main>
</Layout>
