---
import Layout from "$/layouts/Layout.astro";
import SchemaPrototypeDemo from "$lib/form-builder/demo/SchemaPrototypeDemo.svelte";
---

<Layout>
	<main class="mx-auto max-w-4xl p-6">
		<SchemaPrototypeDemo client:load />
	</main>
</Layout>
